<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748629781223-7j92aetio44j4kv0mdm84od8tjljn3fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748629781223-7j92aetio44j4kv0mdm84od8tjljn3fo</string>
	<key>API_KEY</key>
	<string>AIzaSyDxIkKU38A2Q1yXhD-0seF2_-mhtbcic1s</string>
	<key>GCM_SENDER_ID</key>
	<string>748629781223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iosProject.Photo-Hut</string>
	<key>PROJECT_ID</key>
	<string>photohut-8678f</string>
	<key>STORAGE_BUCKET</key>
	<string>photohut-8678f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748629781223:ios:c7a8548546f1dd5c51d042</string>
	<key>DATABASE_URL</key>
	<string>https://photohut-8678f.firebaseio.com</string>
</dict>
</plist>